header{
    font-size: large;
    font-weight: bolder;
    text-align: center;
    margin-left: 32px;
    text-decoration: unset;
    background-color: black;
    color: white;
    border-radius: 30px;
    }
    
    .strog{
        margin-left: 60px;
        margin-right: 60px;
        border-style: inset;
        border-color: black;
        border-radius: 10px;
        padding: 3px;
        padding-top: 9px ;
        padding-bottom: 9px ;
        background-color: blac
    }
    
    .parme{
        margin-left: 60px;
        margin-right: 60px;
        border-style: inset;
        border-color: black;
        border-radius: 10px;
        padding: 3px;
        padding-top: 9px ;
        padding-bottom: 9px ;
        background-color: blac
    }
    
    .lasa{
        margin-left: 60px;
        margin-right: 60px;
        border-style: inset;
        border-color: black;
        border-radius: 10px;
        padding: 3px;
        padding-top: 9px ;
        padding-bottom: 9px ;
    }
    
    main{
        text-align: center;
        align-items: center;
    }
    
    section{
        display: flex;
    }
    
    footer{
        background-color: black;
        color: white;
        text-align: center;
        border-radius: 15px;
        margin-top: 70px;
        padding: 20px;
    }
    
    img{
    border-radius: 20px;
    border:black 4px solid;
    }
    
    @media(max-width:600px){
        section{
            justify-content: center;
            flex-direction: column;
            display: flex;
        }
    }